:root {
  --cell-border: lightgray solid 1px;
  --weekday-label-height: 8vh;
}

* {
  cursor: default;
}

html, body, #root, .container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.toolbar-container {
  width: 4vw;
}

.main {
  flex-grow: 1;
}

.week {
  display: flex;
  flex-direction: row;
  height: 100%;
}
/* hour marks */
.hours-and-date-container {
  display: flex;
  flex-direction: column;
  width: 4vw;
}

.date-container {
  height: var(--weekday-label-height);
}

.hours-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hour {
  height: 100%;
  text-align: right;
}

.hour-mark {
	margin-right: 1.5vw;
	margin-top: -11px;
	display: block;
}

.hour-separator {
	position: absolute;
	width: 93vw;
	left: 7vw;
	border-bottom: var(--cell-border);
}
/* days */
.days-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;}

.weekday-label-container {
  height: var(--weekday-label-height);
}

.day-separator {
	position: absolute;
	height: 96vh;
	top: 4vh;
	border-left: var(--cell-border);
}

.events-container {
  flex-grow: 1;
}
/* event */
.event {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: orange;
}

.liver-info {
  display: flex;
  align-items: center;
}

.avatars-container {
  display: flex;
  align-items: center;
	height: 24px;
}

.avatar {
  width: 28px;
  border-radius: 100%;
  margin-left: 4px;
}

.name {
  margin-left: 4px;
}

.time {
  margin-right: 4px;
}

.description {
  padding: 2px;
  padding-left: 6px;
  
  background-color: rgb(255, 193, 79);
}