:root {
  --cell-border: lightgray solid 1px;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.temp { position: absolute; opacity: .3 }

.main {
  margin: 0 auto;
  /* width: 1540px; */
  height: 100vh;
}

.week {
  position: relative;
  height: 100%;
}

.columns {
  height: 1008px;
  display: flex;
  flex-flow: row nowrap;
}

.hours {
  position: relative;
  border-right: var(--cell-border);
  width: 50px;
}

.hour {
  position: relative;
  height: 42px;
}

.hour-mark {
  position: relative;
  top: -12px;
}

.day {
  display: block;
  border-right: var(--cell-border);
  max-width: calc(100% / 7);
  min-width: 180px;
  min-height: 24em;
  flex: auto;
}

.event {
  position: relative;
  width: 100%;
  background: pink;
  border: solid black 1px;
}

.title {
  background: rgba(0,0,0,.1);
}

.time {
  float: right;
}
