:root {
  --cell-border-color: lightgray solid 1px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 100vw;
  height: 100vh;
}

.columns {
  display: flex;
  flex-flow: row nowrap;
}

.day {
  display: block;
  border-left: var(--cell-border-color);
  min-width: 180px;
  min-height: 24em;
  flex: auto;
}