$main: #2A4B70
$light: #7E9BBD
$dark: #17293D
$regular: #467DBD

img
  width: 100%
  height: 100%

.secondary
  color: $light
  font-weight: bold
  font-size: 12px
  text-align: right
  margin: 12px 0 12px auto
  cursor: pointer
  width: fit-content
  &.active
    text-decoration: underline dashed

.liver
  display: flex
  flex-shrink: 0
  padding: 4px 4px
  &__avatar, .avatar
    background-color: lightgray
    width: 28px
    height: 28px
    border-radius: 100%
    overflow: clip
    user-select: none
  &__name, .name
    margin: 4px 4px 0 4px
    cursor: pointer
    user-select: none
    color: lightgray

.btn
  transition: background-color 200ms
  cursor: pointer
  &.checked
    background-color: var(--theme-color)
  &:active
    background-color: #0008

.spinner, .error
  position: absolute
