$main: #2A4B70
$light: #7E9BBD
$dark: #17293D
$regular: #467DBD

img
  width: 100%
  height: 100%

.secondary
  color: $light
  font-weight: bold
  font-size: 12px
  text-align: right
  margin: 12px 0
  cursor: pointer
  &.active
    text-decoration: underline dashed

.clickable
  transition: background-color 200ms
  &:active
    background-color: gray !important

.liver-info
  display: flex
  flex-shrink: 0
  cursor: pointer
  border-radius: 8px
  padding: 4px 4px
  transition: background-color 200ms
  &:hover, &.checked
    background-color: var(--theme-color)
  &:active
    background-color: gray

.avatar
  background-color: lightgray
  width: 28px
  height: 28px
  border-radius: 100%
  overflow: clip
  user-select: none

.name
  margin: 4px 4px 0 4px
  cursor: pointer
  user-select: none
  color: lightgray

.spinner, .error
  position: absolute
