.filter-panel
  position: absolute
  // width: 600px
  height: 100%
  margin-left: 60px
  left: 0
  background-color: #e8e8e8e8
  z-index: 500
  transition: all 300ms
  opacity: 0
  transform: translateX(-100%)
  display: flex
  visibility: hidden
  &.visible
    visibility: visible
    transform: none
    opacity: 1
  &-inner
    overflow-y: auto
    margin: 24px 32px 0 24px
    flex-grow: 1

.filter-options
  overflow-y: auto

.liver-name
  display: flex
  cursor: pointer

.livers-group
  // &:not(:last-child)::after
  //   background: gray
  margin-bottom: 32px
.livers-group-inner
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 12px
