.navbar
  width: 60px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  background: #eee
  z-index: 500
.filter-small
  margin-top: 12px
  &__group
    padding-top: 12px
    border-top: 2px solid lightgray