$cell: 1px solid lightgray

.week
  display: flex
  width: 100%
  height: 100%

.week-inner
  display: flex
  flex-grow: 1
  align-self: stretch
  margin: 0 24px 24px 12px
  flex-flow: column nowrap

.header
  min-height: 58px
  display: flex
  margin-left: 44px
  .day-names
    display: flex
    flex-grow: 1
    .day-name-container
      flex-shrink: 0
      width: calc(100% / 7)
      text-align: center
      position: relative
      .day-separator
        position: absolute
        border-left: $cell
        height: 16px
        bottom: 0
      .day-name
        display: block
        margin-top: 16px

.content
  flex-grow: 1
  display: flex
  flex-direction: row

.hours-container
  display: flex
  flex-direction: column

.hour-container
  width: 32px
  flex-grow: 1
  &:first-child
    visibility: hidden
  .hour
    text-align: right
    margin-top: -8px
    margin-right: 4px
    font-size: 12px

.days
  flex-grow: 1
  display: flex
  &-container
    position: relative
    display: flex
    flex-grow: 1

.hour-separators-container
  position: absolute
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  .hour-separator
    flex-grow: 1
    border-top: $cell
    &:first-child
      visibility: hidden

.gutter
  min-width: 12px

.day
  flex-shrink: 0
  width: calc(100% / 7)
  position: relative

.time-pointer
  display: block
  width: 100%
  height: 1px
  background-color: #f00
  position: absolute

.events
  position: relative
  height: 100%
  border-left: $cell
